
.large_text{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
p[attr] {
    color:chartreuse;
    font-size:20px;
}

p[attr2^="begin"] {
    color:rgb(92, 67, 0);
    background: yellow;
    padding: 10px;
    text-decoration: underline;
}
p[attr2*="mid"] {
    font-style: italic;
    border: 1px solid rgb(189, 9, 9);
    padding: 10px;
}

p[attr2$="end"] {
    font-size: 20px;
    font-weight: bold;
    background: lightblue;
    padding: 10px;
}
.ps-classes  li {
    display: inline-block;
    width:50px;
    height: 50px;
    background: #eff1f1;
    border: 2px solid #ccc;
    border-radius: 50%;
    text-align:center; 
    vertical-align:top;
    margin: 2px 0;
}
.ps-classes li span {
    font-family: Arial, Helvetica, sans-serif;
    font-size:25px; 
    line-height: 70px;
}
.ps-classes .frst  li:first-child{
    background: #d091f5;
    border: 2px solid #7210ac;
}

.ps-classes .sec  li:last-child{
    background: #fca83a;
    border: 2px solid #e47003;
}

.ps-classes .thrd  li:nth-child(even){
    background:#15ff00;
    border: 2px solid #0c7902;
}

.ps-classes .frth  li:nth-child(odd){
    background:#db4880;
    border: 2px solid #52021c;
}
.ps-classes .fvth  li:nth-child(5n+1),
.ps-classes .fvth  li:nth-child(5n+2)
 {
    background:#9685f7;
    border: 2px solid #17038a;
}

.ps-classes .sxth  li:nth-child(3){
    background:#f7fda2;
    border: 2px solid #a3a000;
}

.ps-classes .svth  li:not(:nth-child(3)){
    background:#ff958d;
    border: 2px solid #940000;
}
.borders-blocks div{
 width:130px;
 height: 100px;
 display: inline-block;
 margin: 10px;
}

.borders-blocks .br1{
    background: hsl(189, 91%, 71%);
    border:4px solid hsl(240, 100%, 50%);
    border-radius: 20px 0 20px 0; 
}
.borders-blocks .br2{
    background: hsla(0, 61%, 76%, 0.589);
    border:4px solid hsl(0, 95%, 16%);
    border-radius: 50px 0 0 0; 
}

.borders-blocks .br3{
    background: hsl(51, 100%, 67%);
    border:4px solid hsl(54, 95%, 33%);
    border-radius: 10%; 
}

aside{
    
    background: cyan;
    padding: 10px;
    width: 200px;
    float: right;
    border-radius: 10%;
    border: 3px dotted yellow;
}
.columns{
    column-width: 200px;
    column-count: 2;
    column-gap: 30px;
    column-rule: 4px solid #ccc;
}

.column::first-letter {
 font-size: 30px;
 color:#f03b04;
 font-weight: bold;
font-style: italic;
}

@media screen and (max-width: 800px){
    aside{
        background:green;
     display: none;
        
    }

    header{

/*        display: flex;*/
        display:list-item;
        
    }

    .name2{
        display: none;
    }
    .column::first-letter{
        font-size:initial;
         color: initial;
         font-weight: initial;
        font-style: initial;
    }
    .columns{
        column-count: 1;
        
    }
}


